@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: poppins, sans-serif;  
  margin: 0px;
}

#main-nav {
  z-index: 2;
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 45px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  font-weight: bold;
}

nav a:hover {
  color: rgb(247, 136, 0);
}

.img {
    display: block;
    width: 30%;
    height: auto;
    margin-bottom: -16px;
    margin-left: auto;
    margin-right: auto;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

.navbarOffsetMargin {
  padding-top: 45px;
}

section {
  min-height: 80vh;
}

section#header {
    min-height: 0px;
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), url("background.png");
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), url("background.png");
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), linear-gradient(270deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), url("background.png");
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  height: 36px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

section#projects {
  text-align: center;
}
section#discord {
  text-align: center;
}

section#needaserver {
  text-align: center;
}

section#supportus {
  text-align: center;
}

.background {
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), url("background.png");
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), url("background.png");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), linear-gradient(270deg, rgba(0, 0, 0, 0.650) 0%, rgba(0,0,0,0) 25%), url("background.png");
}

article {
  width: 90%;
  max-width: 700px;
  padding: 20px;
  margin: 0px auto;
}

h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
  font-size: 3em;
  color: white;
}

p {
  font-size: 1.5em;
  text-align: justify;
  text-align-last: center;
  color: white;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

#img {
  float: left;    
  margin: 5px 15px 5px 5px;
  width: 20%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
}

#img2 {
  float: right;    
  margin: 5px 15px 5px 15px;
  width: 20%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
}

.paragrafo {
  background-color: rgba(0, 0, 0, 0.461);
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  outline-style: solid;
  outline-color: rgba(255, 255, 255, 0.455);
}

.chester {
  width: 5vh;
  height: auto;
  margin-bottom: -1vh;
  margin-top: -1vh;
}